<tr>
  <td class="col-md-1 centered">Fetch</td>
  <td class="col-md-1 centered"><%= link_to 'Delete', feed_path(feed), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %></td>
  <td class="middle"><%= feed.url %></td>
  <td class="middle">Link to feed</td>
</tr>
