<div class="row">
  <div class="col-lg-12 text-center">
    <h1>Your Feeds</h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <%= link_to "New Feed", new_feed_path, class: 'btn btn-primary pull-right' %>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <% if @feeds.length > 0 %>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th colspan="2">Action</th>
            <th>Url</th>
            <th>Podcast Url</th>
          </tr>
        </thead>
        <tbody>
          <% @feeds.each do |feed| %>
            <%= render feed %>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="well">
        You have no feeds.
      </div>
    <% end %>
  </div>
</div>
