<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1><%= current_user.user_cookie %></h1>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
